{% extends "layout.html" %}

{% block breadcrumb %}
<li class="breadcrumb-item" aria-current="page"><a href="/meets">Meets</a></li>
<li class="breadcrumb-item active" aria-current="page">{{ meet.name }}</li>
{% endblock %}

{% block content %}
    <h5 class="display-5">{{ meet.name }}</h5>
    <p class="lead">#{{ meet.id }} - From {{ meet.start_date | date(format="%B %e") }} to {{ meet.end_date | date(format="%B %e, %Y") }}</p>
    
    <div class="card">
        <div class="card-header">
            <div class="btn-group" role="group">
                <a href="/meets/{{ meet.id }}/entries" class="btn btn-outline-secondary">
                    {% if entries_loaded %}
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                            <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0"/>
                        </svg>
                    {% endif %}
                    Load Entries</a>
                <a href="/meets/{{ meet.id }}/results" class="btn btn-outline-secondary">
                    {% if results_loaded %}
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                            <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0"/>
                        </svg>
                    {% endif %}
                    Load Results</a>
            </div>
        </div>

        <div class="card-body">
            <p>From {{ meet.start_date | date(format="%B %e") }} to {{ meet.end_date | date(format="%B %e, %Y") }}</p>
        </div>
    </div>
{% endblock %}