{% extends "layout.html" %}

{% block breadcrumb %}
<li class="breadcrumb-item active" aria-current="page">Meets</li>
{% endblock %}

{% block content %}
    <h5 class="display-5">Meets</h5>
    <p class="card-text">The meets your club participates.</p>
    
    <div class="card">
        <div class="card-header">
            <div class="btn-group" role="group" aria-label="Basic outlined example">
                <a href="/meets/new" class="btn btn-outline-primary">New</a>
            </div>
        </div>
        
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Start</th>
                        <th scope="col">End</th>
                    </tr>
                </thead>
                <tbody>
                    {% for meet in meets %}
                    <tr>
                        <td><a href="/meets/{{ meet.id }}/">{{ meet.id }}</a></td>
                        <td>{{ meet.name }}</td>
                        <td>{{ meet.start_date | date(format="%B %e, %Y") }}</td>
                        <td>{{ meet.end_date | date(format="%B %e, %Y") }}</td>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="4">No registered meets.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}