{% extends "layout.html" %}

{% block breadcrumb %}
<li class="breadcrumb-item active" aria-current="page">Swimmers</li>
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <h5 class="display-5">Swimmers</h5>
            <p class="card-text"></p>
            
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Gender</th>
                        <th scope="col">Date of Birth</th>
                    </tr>
                </thead>
                <tbody>
                    {% for swimmer in swimmers %}
                    <tr>
                        <td>{{ swimmer.id }}</td>
                        <td>{{ swimmer.first_name }} {{ swimmer.last_name }}</td>
                        <td>{{ swimmer.gender | title }}</td>
                        <td>{{ swimmer.birth_date | date(format="%B %e, %Y") }}</td>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="4">No registered swimmers.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}